<nav class="navbar navbar-toggleable-md navbar-light">

  <div class="navbar" id="navbarSupportedContent">
    <a class="navbar-brand" href="/resources"><img src="http://fillmurray.com/100/100" class="rounded"></a>
      <a class="nav-link p-1" href="/resources">Resources <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">My resources</a>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
  </form>
</nav>
