<meta charset="UTF-8">
<title></title>

<header>
  <nav>
    <div id="logo"></div>
    <a href="/resources">Resources</a>
    <a href="/my-resources">My resources</a>
    <p>username</p>
    <a href="/">logout</a>
  </nav>
</header>
