<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs %>

    <title>Resources</title>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>

    <main class'container'>

      <article class='jumbotron'>
        <h1 class="text-left">Welcome to <span class="text-info">Resource Wall</span>!<br/>
          <small class="text-muted">&nbsp;Your home for learning.</small>
        </h1>
        <ul>
          <li><strong>Save any resource you find online that you'd like to learn</strong>&mdash;from tutorials, to blogs, to videos, and everything in between.</li>
          <li><strong>Never forget what you're interested in</strong> by saving to your own page.</li>
          <li><strong>Find what others are currently learning</strong> by searching through our extensive resource database.</li>
        </ul>
      </article>

      <article>
        <h1>Latest resources</h1>
        <div id="resources-container" class='container flex-container justify-content-around'>
          <div id='resources-row' class="row flex-row">
          </div>
        </div>

        <div class="m-4 mt-6">
          <h2 class="text-success"> Register Now! </h2>
          <form action="/registration" method="GET" title="Click here to register" class="d-inline form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Click HERE to register</button>
          </form>
          <br>
          <small class="mt-1">Already registered? <a href="/login">Log in here.</a></small>
        </div>
      </article>
    </main>
  </body>
</html>
