<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs %>

    <title>Resources</title>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>

    <main class'container'>

      <article class='jumbotron'>
        <h1 class="text-left">Welcome to <span class="text-info">Resource Wall</span>,<br/>
          <small class="text-muted">&nbsp;Your home for learning.</small>
        </h1>
        <p>Save any resource you find online that you'd like to learn&mdash;from tutorials, to blogs, to videos, and everything in between.</p>
        <p>Never forget what you're interested in by saving to your own page.</p>
        <p>Find what others are currently learning by searching through our extensive resource database.</p>
      </article>

      <article>
        <div>
          <h3 class="text-info"> Latest resources added: </h3>
          <div class="container d-lg-flex justify-content-around" id="resources-container">
            <div class="row flex-row row p-1" id="resources-row">
              <!-- CHANGE TO A LOOP FOR THE LATEST 3 -->
              <div class='content col-4 text-center'>
                <div class='border border-dark rounded m-1'>
                  <div><a href='http://${urls}'><img src='http://fillmurray.com/200/200'></a></div>
                  <div>title</div>
                  <div>description</div>
                  <div>comment</div>
                  <i class="far fa-heart"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-4 mt-6">
          <h2 class="text-success"> Register Now! </h2>
          <form action="/registration" method="GET" title="Click here to register" class="d-inline form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Click HERE to register</button>
          </form>
          <br>
          <small class="mt-1">Already registered? <a href="/login">Log in here.</a></small>
        </div>
      </article>
    </main>
    <% include partials/_foot.ejs %>
  </body>
</html>
