<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Wall | Log in</title>

    <% include partials/_head.ejs %>
    <link rel="stylesheet" type="text/css" href="styles/login.css">
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>

    <% if (blank === true) {%>
      <div id="registration-error" class="alert alert-danger text-center" role="alert">
        Please fill out both fields!
      </div>
      <main id="login-main" class="container mt-5">
        <article>
          <div class="row justify-content-sm-center">
            <div>
              <h3>Log in to your account:</h3>
              <form action="/login" method='POST'>
                <table class='table'>
                  <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input type="text" id="login-username" name="username" placeholder='username'></td>
                  </tr>
                  <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" id="login-password" name="password" placeholder='••••••••••'></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button class='btn btn-primary' type="submit">Log in</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </article>
      </main>

    <% } else if (match === true) {%>

    <div id="registration-error" class="alert alert-danger text-center" role="alert">
      <strong>
        Uh oh!
      </strong>
      Username and Password did not match! Please login again.
    </div>
    <main id="login-main" class="container mt-5">
      <article>
        <div class="row justify-content-sm-center">
          <div>
            <h3>Log in to your account:</h3>
            <form action="/login" method='POST'>
              <table class='table'>
                <tr>
                  <td><label for="username">Username:</label></td>
                  <td><input type="text" id="login-username" name="username" placeholder='username'></td>
                </tr>
                <tr>
                  <td><label for="password">Password:</label></td>
                  <td><input type="password" id="login-password" name="password" placeholder='••••••••••'></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button class='btn btn-primary' type="submit">Log in</button>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </article>
    </main>

    <% } else {%>

      <main id="login-main" class="container mt-5">
      <article>
        <div class="row justify-content-sm-center">
          <div>
            <h3>Log in to your account:</h3>
            <form action="/login" method='POST'>
              <table class='table'>
                <tr>
                  <td><label for="username">Username:</label></td>
                  <td><input type="text" id="login-username" name="username" placeholder='username'></td>
                </tr>
                <tr>
                  <td><label for="password">Password:</label></td>
                  <td><input type="password" id="login-password" name="password" placeholder='••••••••••'></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                      <button class='btn btn-primary' type="submit">Log in</button>
                    </td>
                  </tr>
              </table>
            </form>
          </div>
        </div>
      </article>
      </main>

    <% } %>

    <footer></footer>

  </body>

  </html>
