<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>
    <% include partials/_head.ejs %>
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>

    <main class="container mt-5">
      <article>
        <div class="row justify-content-sm-center">

          <% if (blank === true) {%>
            <div>
              <div id="registration-error" class="alert alert-danger" role="alert">
                <strong>
                  EMPTY FIELD(S)..
                </strong>
                Please fill out all fields!
              </div>
              <h3>Register:</h3>
              <form action="/registration" method="POST">
                <table class="table">
                  <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" type="text" name="username" placeholder="Enter your username"></td>
                  </tr>
                  <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input id="email" type="email" name="email" placeholder="Enter your email"></td>
                  </tr>
                  <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" type="password" name="password" placeholder="Enter a password"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button class="btn btn-primary" type="submit">Register</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>

          <% } else if (un === true) {%>

            <div>
              <div id="registration-error" class="alert alert-danger" role="alert">
                <strong>
                  USERNAME TAKEN!
                </strong>
                Please choose another username.
              </div>
              <h3>Register:</h3>
              <form action="/registration" method="POST">
                <table class="table">
                  <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" type="text" name="username" placeholder="Enter your username"></td>
                  </tr>
                  <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input id="email" type="email" name="email" placeholder="Enter your email"></td>
                  </tr>
                  <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" type="password" name="password" placeholder="Enter a password"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button class="btn btn-primary" type="submit">Register</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>

          <% } else if (email === true) {%>

            <div>
              <div id="registration-error" class="alert alert-danger" role="alert">
                <strong>
                  EMAIL ALREADY IN USE!
                </strong>
                <a href="/login" class="alert-link">CLICK HERE to login</a>
                or enter a different email to register.
              </div>
              <h3>Register:</h3>
              <form action="/registration" method="POST">
                <table class="table">
                  <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" type="text" name="username" placeholder="Enter your username"></td>
                  </tr>
                  <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input id="email" type="email" name="email" placeholder="Enter your email"></td>
                  </tr>
                  <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" type="password" name="password" placeholder="Enter a password"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button class="btn btn-primary" type="submit">Register</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>

          <% } else {%>

          <div>
              <h3>Register:</h3>
              <form action="/registration" method="POST">
                <table class="table">
                  <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" type="text" name="username" placeholder="Enter your username"></td>
                  </tr>
                  <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input id="email" type="email" name="email" placeholder="Enter your email"></td>
                  </tr>
                  <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" type="password" name="password" placeholder="Enter a password"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button class="btn btn-primary" type="submit">Register</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>

          <% } %>

        </div>
      </article>

    </main>


    <footer></footer>

  </body>

  </html>
