<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>
    <% include partials/_head.ejs %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-light">

        <div class="form-inline">
          <form action="/registration" method="GET" title="registration" class="form-inline m-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
          </form>

          <form action="/login" method="GET" title="Log in" class="form-inline m-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
          </form>
        </div>


      </nav>
    </header>

    <main class="container mt-5">
      <div class="row justify-content-sm-center">
        <div>
          <h3>Register:</h3>
          <form action="/registration" method="POST">
            <table class="table">
              <tr>
                <td><label for="username">Username:</label></td>
                <td><input id="username" type="text" name="username" placeholder="Enter your username"></td>
              </tr>
              <tr>
                <td><label for="email">Email:</label></td>
                <td><input id="email" type="email" name="email" placeholder="Enter your email"></td>
              </tr>
              <tr>
                <td><label for="password">Password:</label></td>
                <td><input id="password" type="password" name="password" placeholder="Enter a password"></td>
              </tr>
            </table>
            <button class="btn btn-primary" type="submit">Register</button>
          </form>
        </div>
      </div>

    </main>
    <footer></footer>

  </body>

  </html>
