<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>

    <% include partials/_head.ejs %>
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>

    <main>

    </main>



    <footer></footer>

  </body>

  </html>
