<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resources</title>

    <% include partials/_head.ejs %>
<!--     <script type="text/javascript" src="/scripts/resources.js"></script> -->
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>
    <main class="resources-container">
      <div class="d-lg-flex justify-content-center flex-wrap">
        <div class=“btn-group” role=“group” aria-label=“Basic example”>
          <button type=“button” class=“btn btn-secondary”>Blog</button>
          <button type=“button” class=“btn btn-secondary”>Tutorials</button>
          <button type=“button” class=“btn btn-secondary”>Videos</button>
          <button type=“button” class=“btn btn-secondary”>etc</button>
        </div>
      </div>

      <div class="container d-lg-flex justify-content-around" id="resources-container">
        <div class="row flex-row row p-1" id="resources-row">
          <% for (resource of resources) { %>
            <div class='content col-4 text-center'>
              <div class='border border-dark rounded m-1'>
                <div><a href='http://<% resource.url %>'><img src='/resources/<%= resource.id  %>/screenshot' class="img-thumbnail img-rounded"></a></div>
                <div><%= resource.title %></div>
                <div><%= resource.description %></div>
                <div>comment</div>
                <i class="far fa-heart"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
          <% } %>

        </div>
      </div>


    </main>



    <footer></footer>

  </body>

  </html>
