<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resources</title>

    <% include partials/_head.ejs %>
    <link rel="stylesheet" type="text/css" href="/styles/resources.css"/>
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>
    <main class="resources-container">
      <div class="d-lg-flex justify-content-center flex-wrap m-3">

        <div class="filter-group filter-group--compound btn-group-lg">

            <p class="filter-label">Categories</p>
            <button type="button" class="btn btn-primary" id="blog">
              <span>Blog</span>
            </button>

            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="tutorial">Tutorial</button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="book">Book</button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="article">Article</button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="video">Video</button>

        </div>

      </div>

      <div class="container d-lg-flex justify-content-around" id="resources-container">
        <div class="row flex-row row p-1" id="resources-row">

          <!-- Resources script inserts resources here -->

        </div>
      </div>


    </main>



    <footer></footer>

  </body>

  </html>
