<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resources</title>

    <% include partials/_head.ejs %>
    <script type="text/javascript" src="/scripts/resources.js"> </script>
    <link rel="stylesheet" type="text/css" href="/styles/resources.css"/>
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>
    <main class="resources-container">
      <article>
        <div class="d-lg-flex justify-content-center flex-wrap m-3">

          <div class="filter-group filter-group--compound btn-group-lg">

              <h4 class="filter-label">Categories:</h4>
              <button type="button" class="btn btn-primary filter-btn" id="blog">Blog</button>
              <button type="button" class="btn btn-primary filter-btn" id="tutorial">Tutorial</button>
              <button type="button" class="btn btn-primary filter-btn" id="book">Book</button>
              <button type="button" class="btn btn-primary filter-btn" id="article">Article</button>
              <button type="button" class="btn btn-primary filter-btn" id="video">Video</button>

          </div>

        </div>

        <div class="container d-lg-flex justify-content-around" id="resources-container">
          <div class="row flex-row row p-1" id="resources-row">

            <!-- Resources script inserts resources here -->

          </div>
        </div>
      </article>


    </main>



    <footer></footer>

  </body>

  </html>
