<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Wall | Add New Resource</title>

    <% include partials/_head.ejs %>
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>

    <main class="container">
      <article class="justify-content-sm-center">
        <div>
          <h3>Add a new resource:</h3>
          <form action="/resources" method="POST">
            <table class="table">
              <tr>
                <td><label for="url">Resource URL:</label></td>
                <td>
                  <input type="text" name="url" placeholder="http://www.example.com">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="title">Title:</label>
                </td>
                <td>
                  <input type="text" name="title" placeholder="My Resource">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="description">Description:</label>
                </td>
                <td>
                  <input type="text" name="description" placeholder="The one weird tip doctors DON'T want you to know!">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="tags">Category Tags:</label>
                  <p><small>hold <strong>ctrl</strong> (<strong>cmd</strong> on MacOS) to select multiple tags</small></p>
                </td>
                <td>
                  <select multiple class="form-control rounded" id="tags" name="tags">
                    <option>article</option>
                    <option>blog</option>
                    <option>book</option>
                    <option>tutorial</option>
                    <option>video</option>
                  </select>
                </td>
              </tr>
            </table>
            <button class="m-auto btn btn-primary mb-6" type="submit">Add new resource</button>
          </form>
        </div>
      </article>
    </main>



    <footer></footer>

  </body>

  </html>
