<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resources</title>

    <% include partials/_head.ejs %>
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>
    <main class="resources-container">
      <div class="d-lg-flex justify-content-center flex-wrap m-3">

        <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="filters btn btn-primary active" data-toggle="button" aria-pressed="true" autocomplete="off" id="all">All</button>
            <button type="button" class="filters btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Blog</button>
            <button type="button" class="filters btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Tutorial</button>
            <button type="button" class="filters btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Book</button>
            <button type="button" class="filters btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Article</button>
            <button type="button" class="filters btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Video</button>
        </div>

      </div>

      <div class="container d-lg-flex justify-content-around" id="resources-container">
        <div class="row flex-row row p-1" id="resources-row">

          <!-- Resources script inserts resources here -->

        </div>
      </div>


    </main>



    <footer></footer>

  </body>

  </html>
