<!DOCTYPE html>
<html lang="en">
  <head>
    <title> My Resources </title>

    <% include partials/_head.ejs %>
    <script type="text/javascript" src="/scripts/my-resources.js"> </script>
  </head>

  <body>
    <header>
      <% include partials/_header.ejs %>
    </header>
    <main class="my-3">
      <article class="resources-container justify-content-center">
        <div class="text-center">
          <h2 class="text-info"> My Resources </h2>

          <div class="container d-lg-flex justify-content-around" id="my-resources-container">
            <div class="row flex-row row p-1" id="my-resources-row">

              <!-- Resources script inserts resources here -->

            </div>
          </div>
        </div>

      </article>

      <article class="resources-container justify-content-center">
        <div class="text-center">
          <h2 class="text-info"> My Likes </h2>

          <div class="container d-lg-flex justify-content-around" id="my-likes-container">
            <div class="row flex-row row p-1" id="my-likes-row">

              <!-- Resources script inserts resources here -->

            </div>
          </div>
        </div>

      </article>


    </main>


    <footer></footer>

  </body>

  </html>
