#title-for-carousel {
  text-align: center;
}

#carousel-container {
  border: 2px solid #F7F7F9;
  border-radius: 10px;
  background-color: #F7F7F9;
  width: 89%;
  margin: 0 auto;
}

#carousel-container #carousel-caption {
  background-color: rgba(53, 58, 63, 0.7);
  float: center;
  margin: 2%;
  border-radius: 15px;
}

#carousel-container #carousel-caption #carousel-image {
  border-radius: 10px;
}

#carousel-container #carousel-caption #carousel-title {
  color: #5fc59a;
  text-shadow: 1px 1px #fff;
  opacity: 1;
}

#carousel-container #carousel-caption #carousel-description {
  color: #fff;
  opacity: 1;
}

#index-register {
  text-align: center;
  margin: 5em auto 0 auto;
}
