#nav-links {
  max-width: 800px;
  margin: 1.5em auto 0 auto;
  padding: 1em 0;
}

#nav-links a {
  padding: 1em 1em .9em 1em;
  background-color: #55595c;
  color: white;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
}

#nav-links a:hover {
  color: white;
  background-color: #20c997;
}

#nav {
  padding: 0;
}

#nav .button {
  background-color: #55595c;
  color: white;
  padding: 1em 1em .9em 1em;
}

#nav .row {
  width: 100%;
  padding: 0 5%;
}

#nav nav {
  width: 100%;
  margin: 0 auto;
  max-width: 1050px;
}

#nav .btn {
  background-color: #20c997;
  border-bottom: 2px solid #f7f7f9;
  color: white;
  padding: 1em 1em .9em 1em;
}

#nav .btn:hover {
  background-color: #f7f7f9;
  color: #20c997;
}

#nav .nav-item {
  margin: 0;
}

#nav .nav-link {
  text-decoration: none;
}

#nav .nav-link:hover {
  color: white;
  background: #20c997;
}

#nav span.light {
  font-weight: 300;
}

#nav .link-container {
  width: 100%;
}

#nav .navbar-toggler {
  transition: .3s ease;
}

#nav .navbar-toggler:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

#nav .navbar-toggler:hover span {
  filter: brightness(2);
}

#brand {
  color: white;
  border: none;
  padding-right: 10px;
}

#brand:hover {
  background: none;
  opacity: 0.9;
}
