#title-for-carousel {
  text-align: center;
}

#carousel-container {
  border: 2px solid #F7F7F9;
  border-radius: 10px;
  background-color: #F7F7F9;
  width: 89%;
  margin: 0 auto;

  .carousel-indicators {
    margin-bottom: 0;
    position: absolute;
  }

  #carousel-indicators {
    background-color: #919aa1;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    &.active {
      background-color: #000;
      outline: none;
    }
  }

  .carousel-control-prev {
    border: none;
    margin-right: 0;
    &:hover {
      background-color: rgba(255,255,255, 0.9);
      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#20c997' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      }
    }
  }

  .carousel-control-next {
    border: none;
    margin-right: 0;
    &:hover {
      background-color: rgba(255,255,255, 0.9);
      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#20c997' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      }
    }
  }

  .carousel-control-prev-icon {

  }

  #carousel-caption {
    background-color: rgba(255,255,255, 0.9);
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 20px;

    #carousel-image {
      margin-top: 60px;
      border-radius: 10px;

    }

    #carousel-title {
      color: #55595c;
      // text-shadow: 2px 2px rgba(255,255,255,0.2);
    }

    #carousel-description {
      color: #55595c;
    }

  }

}

#index-register {
  text-align: center;
  margin: 5em auto 0 auto;
}
