// Login & Registration Forms:

input, label {
	padding: 5px;
	width: 100%;
	min-width: 10px;
	max-width: 300px;
}

form table {
	text-align: right;
	white-space: nowrap;
}

.btn:hover {
	cursor: pointer;
}