@import 'variables';

tr td {
	&:first-of-type {
		width: 17em;
		p {
			float: right;
			text-align: right;
		}
	}
	&:last-of-type {
		width: 28em;
	}
	input {
		width: 100%;
		padding: .5em;
	}
	label {
		float: right;
		padding: .5em 0;
	}
}

.form-control {
	height: 17em;
	background-color: white;
	width: 13.5em;
	option {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .05em;
		padding: .8em 1em;
		border-bottom: 1px solid $gray-400;
		&:hover {
			cursor: pointer;
			color: $teal;
			background-color: $gray-100;
		}
		&:last-of-type {
			border: none;
		}
	}
}

a {
	color: $teal;
	border-bottom: 2px solid $teal;
	padding: .4em .3em .2em .5em;
	margin-right: .4em;
	&:hover {
		color: white;
		background: $teal;
		text-decoration: none;
	}
}

.btn:hover {
	cursor: pointer;
}

main {
	margin: 0 auto;
}

article {
	margin: 0 auto;
	padding: 5em 5em 10em 5em;
	max-width: 800px;
}

footer {
	padding: 5em;
	background: $gray-100;
}

.star-rating {
	font-size: 0.2em;
}
#resources {
	margin-top: 2em;
}

.jumbotron {
	max-width: 50em;
	margin: 0 auto;
	ul {
		max-width: 38em;
		margin-top: 1em;
		font-size: 1em;
		li {
			margin: .75em 0 0 0;
		}
	}
}

#new-comment {
	display: none;
}

#registration-error {
  margin-bottom: 2em;
}
