@import 'variables';

a {
	color: $teal;
	border-bottom: 2px solid $teal;
	padding: .9em 1em 1em 1.2em;
	&:hover {
		color: white;
		background: $teal;
		text-decoration: none;
	}
}

.btn:hover {
	cursor: pointer;
}

main {
	max-width: 800px;
	margin: 4em auto 0 auto;
}

article {
	padding: 5em;
}

.star-rating {
	font-size: 0.2em;
}
#resources {
	margin-top: 2em;
}

.jumbotron {
	max-width: 50em;
	margin: 0 auto;
	ul {
		max-width: 38em;
		margin-top: 1em;
		font-size: 1em;
		li {
			margin: .75em 0 0 0;
		}
	}
}

#new-comment {
	display: none;
}

#registration-error {
  margin-bottom: 2em;
}
